<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site-style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/icons.css")" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="stylesheet" />
    <script src="https://use.fontawesome.com/e808bf9397.js"></script>

    <link rel="shortcut icon" href="images/favicon.ico" />

    @RenderSection("styles", false)
</head>
<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    @RenderPage("~/Views/Shared/_Nav.cshtml")

    @RenderBody()

    @RenderPage("~/Views/Shared/_Footer.cshtml")

    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.slicknav.min.js")"></script>
    <script src="@Url.Content("~/Scripts/scripts.js")"></script>

    <script type="text/javascript">
        function setActivePage(pageId) {
            //$(".nav li").removeClass("active");
            //$("#" + pageId).addClass("active");

            //criado variável que recebe a categoria e concatena
            //com os parâmetros esperados para setactivepage
            var bag = 'nav ul li#nav_' + ('@(ViewBag.categoria)').toLowerCase();

            $('nav ul li').removeClass('current-menu-item');
            if (pageId === "nav_home")
                $('nav ul li#nav_home').addClass("current-menu-item");
            else
                //alterado else pois tudo que não fosse home ia para cadastro,
                //e contatos é outra categoria.
                $(bag).addClass("current-menu-item");
        }

        function registerDeleteModalInfo() {
            $(".modelItemRemove").click(function (event) {
                var $el = $(event.target);
                $('.modal').find('.modelItemName').text($el.data('modelitemname'));
                $('.modal').find('form input.modelItemId').val($el.data('modelitemid'));
            });
        }

        setActivePage('nav_' + ('@(ViewBag.ControllerName)').toLowerCase());
    </script>

    @RenderSection("scripts", false)
</body>
</html>
