@model Soboru.Models.Ingrediente

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ingredientes - Editar";
}

<main class="main" role="main">
    <div class="wrap clearfix">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="#">Cadastro</a></li>
                <li>Ingrediente</li>
            </ul>
        </nav>

        <div class="row">
            <header class="s-title">
                <h1>Editar</h1>
            </header>

            <section class="content full-width">
                <div class="container">
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()

                        <section>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IngredienteId)
                            @Html.HiddenFor(model => model.CreatedAt)
                            @Html.HiddenFor(model => model.DeletedAt)

                            <div class="f-row">
                                @Html.LabelFor(model => model.NomeIngrediente, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="full">
                                    @Html.EditorFor(model => model.NomeIngrediente, null)
                                    @Html.ValidationMessageFor(model => model.NomeIngrediente, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="f-row full">
                                <input type="submit" value="Salvar" class="button" />
                            </div>
                        </section>
                    }
                </div>
            </section>
        </div>
    </div>
</main>

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setActivePage("nav_ingredientes");
        });
    </script>
}
