@model IEnumerable<Soboru.Models.Ingrediente>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ingredientes";
}

@if (TempData["Message"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Ingredientes</h3>
    </div>
    <div class="panel-body">
        <table class="table table-stiped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeIngrediente)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeIngrediente)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IngredienteId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IngredienteId }) |
                            <a href="#" class="modelItemRemove" data-toggle="modal" 
                               data-target="#deleteConfirmationModal" data-modelitemid="@item.IngredienteId" data-modelitemname="@item.NomeIngrediente">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </p>
    </div>
</div>

@Html.Partial("~/Views/Shared/_DeleteModal.cshtml")

@section Scripts {
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setActivePage("nav_ingredientes");

            $(".table").dataTable({
                "order": [[1, "asc"]]
            });

            registerDeleteModalInfo();
        });
    </script>
}