@model Soboru.Models.Utensilio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Utensilios - Detalhes";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Utensilios</h3>
    </div>
    <hr />
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeUtensilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeUtensilio)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeletedAt)
                </dd>*@

        </dl>
    </div>
    <div class="panel-footer panel-info">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UtensilioId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
